@value youtubeBackgroundBlack, youtubeWhite, youtubeLightGray from '/src/commons/colors.module.css';
@value youtubeFontSizeMedium, youtubeFontWeightNormal, youtubeLetterSpacing from '/src/commons/font.module.css';

.content {
  display: flex;
  flex-direction: column;
  padding: 0 0.5em;
}

.content:hover {
  cursor: pointer;
}

.img_container {
  overflow: hidden;
  flex-basis: 60%;
  height: 100%;
}

.thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.details {
  flex-basis: 40%;
  display: flex;  
  padding-top: 0.6em;
}

.channel_thumbnail {
  width: 2.4em;
  height: 2.4em;
  border-radius: 50%;
  margin-right: 0.8em;
}

.meta {
  padding-right: 3em;
}

.title, .channel_name, .metadata_line {
  font-size: 14px;
  margin: 0;
  padding: 0;
  text-align:left;
}

.title {
  color: youtubeWhite;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.metadata {
  color: youtubeLightGray;
  margin-top: 0.3em;
  font-weight: youtubeFontWeightNormal;
  letter-spacing: youtubeLetterSpacing;
}

.view_count::after {
  content:'\2022';
  margin-left: 0.3em;
}

