.content {
  display: flex;
  flex-direction: column;
  padding: 0 0.5em;
  background-color:black;
}

.img_container {
  overflow: hidden;
  flex-basis: 60%;
  height: 100%;
}

.thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.details {
  flex-basis: 40%;
  display: flex;  
  padding-top: 0.6em;
}

.channel_thumbnail {
  width: 2.4em;
  height: 2.4em;
  border-radius: 50%;
  margin-right: 0.8em;
}

.meta {
  padding-right: 3em;
}

.title, .channel_name {
  font-size: 14px; 
  margin: 0;
  padding: 0;
  text-align:left;
}

.title {
  color: white;
  text-overflow: ellipsis;
  overflow: hidden;
  /* height: 2.8em;
  line-height: 1.4em; */
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.metadata {
  color: grey;
  margin-top: 0.3em;
}

.metadata_line {
  margin: 0;
  padding: 0;
  font-size: 14px;
  text-align: left;
}

.view_count::after {
  content:'\2022';
  margin-left: 0.3em;
}

