@value youtubeDarkGray, youtubeBlue, youtubeGray, youtubeBackgroundBlack from '/src/commons/colors.module.css';


.form {
  width: 40em;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input_box {
  background-color: youtubeBackgroundBlack;
  color: youtubeGray;
  border: none;
  width: 100%;
  height: 2.2em;
}

.input_box:focus {
  outline: 1px solid youtubeBlue;
}

.submit_btn {
  width: 5em;
  height: 2.2em;
  background-color: youtubeDarkGray;
  border: none;
}

.submit_img {
  width: 1em;
  height: 1em;
  object-fit: contain;
  filter: opacity(0.5)  drop-shadow(0 0 0 white);
  -webkit-filter: opacity(0.5)  drop-shadow(0 0 0 white);
}