@value youtubeWhite, youtubeMenuBlack from '/src/commons/colors.module.css';
@value youtubeLogoLetterSpacing from '/src/commons/font.module.css';

@font-face {
  font-family: 'S-CoreDream-7ExtraBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-7ExtraBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  height: 3.5em;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
  background-color: youtubeMenuBlack;
}
.left_menu {
  width: 15%;
  display: flex;
  align-items: center;

}

.right_menu {
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.guide_menu {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.guide_menu_btn {
  width: 2.3em;
  height: 1.1em;
  margin: auto;
  border: none;
  background-color: transparent;
}

.guide_menu_img {
  width: 100%;
  height: 100%;
  filter: invert(100%);
}

.logo {
  color: youtubeWhite;
  display: flex;
  align-items: flex-end;
  border: none;
  background-color: youtubeMenuBlack;
}

.logo:hover {
  cursor: pointer;
}

.logo_img {
  width: 2.5em;
  height: 2.5em;
}

.logo_text {
  font-size: 20px;
  letter-spacing: youtubeLogoLetterSpacing;
  font-family: S-CoreDream-7ExtraBold, Helvetica;
}
