@value youtubeMenuBlack from '/src/commons/colors.module.css';

.sidebar {
  width: 100%;
  flex-basis: 17%;
  background-color: youtubeMenuBlack;
  color: white;
}

.sidebar.list {
  display: none;
}