@value youtubeBackgroundBlack from '/src/commons/colors.module.css';

.grid {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  grid-template-rows: repeat(auto-fit, minmax(200px, auto));
  background-color: youtubeBackgroundBlack;
  margin: 0;
  padding: 0 2em;
  width: 100%;
}

.list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0 2em;
  flex-basis: 20%;
}